.header {
  display: flex;
  justify-content: flex-end;
  background-color: $component-bg-color;
  padding: 20px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid $border-color;
  &__menu {
    $menu: &;
    position: relative;
    cursor: pointer;
    &__avatar {
      p {
        @include rhythm(14, 20);
        margin: 0;
      }
      img {
        border-radius: 100%;
        display: block;
        width: 35px;
      }
    }
    &__dropdown {
      @include transition(opacity 300ms ease, transform 300ms ease, visibility 300ms ease);
      position: absolute;
      right: 0;
      bottom: 0;
      min-width: 250px;
      background-color: $white;
      border-radius: $border-radius;
      filter: drop-shadow(0px 4px 3px rgba(0, 0, 0, 0.3));
      transform: translateY(calc(100% + 15px)) scale(0.7);
      transform-origin: top right;
      z-index: 2;
      opacity: 0;
      visibility: hidden;
      &__arrow {
        width: 0;
        height: 0;
        display: block;
        border-bottom: 10px solid $component-bg-color-alt;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        position: absolute;
        top: -10px;
        right: 8px;
      }
      &__header {
        @include rhythm(14, 22);
        white-space: nowrap;
        background-color: $component-bg-color-alt;
        border-radius: $border-radius $border-radius 0 0;
        padding: 15px;
      }
      p {
        margin: 0;
      }
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
          a {
            @include rhythm(14, 22);
            @include transition(background-color, 300ms ease);
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 15px;
            color: $text-color-dark;
            text-decoration: none;
            &:hover {
              background-color: $component-bg-color-hover;
            }
          }
        }
      }
    }
    &--active {
      #{$menu}__dropdown {
        opacity: 1;
        visibility: visible;
        transform: translateY(calc(100% + 15px)) scale(1);
      }
    }
  }
}
