/*
* Colors
**/

$white: #ffffff;

$primary-color: #673ab7;
$secondary-color: #333333;
$component-bg-color: $white;

$text-color-light: $white;
$text-color-dark: #262626;
$border-color: #e2e2e2;

$font-family: "Inter", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

$border-radius: 4px;
