# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env
npm-debug.log

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history
.next